# Optional Databricks Free Edition backend
DATABRICKS_HOST = "https://dbc-3546ff4a-f6e5.cloud.databricks.com"
DATABRICKS_TOKEN = ""
DATABRICKS_HTTP_PATH = "/sql/1.0/warehouses/6471bade17c9ee58"
DATABRICKS_CATALOG = "main"
DATABRICKS_SCHEMA = "default"
